.review-container {
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem
        /* width: 50%; */
}

.review-detail {
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.user img {
    /* clip-path: circle(28.5% at 50% 50%); */
    object-fit: cover;
    width: 50px;
    border-radius: 50%;
}

.user-comment {
    margin: 0.5rem 0rem;
}

.star {
    padding: 0.5rem;
    background-color: #65a30d;
    color: yellow;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
}