.restCard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid; */
    margin: 4rem;
}

.restCard-container:hover {
    cursor: pointer;
}

.restCard-container h2 {
    margin-bottom: 1rem;
}

.food-card-main {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}